.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
  transition: color 0.3s ease;
}
.iconWrap {
  border: 1px solid #2f2f2f;
  border-radius: 30px;
  /* padding: 2px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}
.buttWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}
.text:hover {
  color: #ff9d43;
}
